<html>
<head>
	<title>metrolab - login</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="styles/login.css" />

</head>
<body>
  
 <div class="container logo">
    <img src="/styles/imgs/logo-white.png">
  </div>
 

  <div class="container login">
    <form class="form-horizontal" role="form" action="/login" method="post">
    <div class="list-group">
      <input name="username" type="email" class="list-group-item" id="inputEmail3" placeholder="Email">
      <input name="password" type="password" class="list-group-item" id="inputPassword3" placeholder="Password">
      <input type="submit" class="list-group-item btn-login" value="Sign in">
    </div>
    </form>
</div>


  <div class="container text">
    <div class="description">
      <p>Cette application permet d’importer et de visionner des matériaux géographiques scientifiques, et de générer de nouveaux éléments identifiés et géo-référencés lors des ateliers collaboratifs organisés par le Metrolab. </br>De nouvelles cartes peuvent être créées instantanément, en visualisant les couches d’informations choisies.</p>
      <p>Tout en se situant dans un cadre de recherche précis, la flexibilité de l’application permet d’établir des liens entre des données analytiques, et celles du terrain et des acteurs locaux.</br>
      Ces liens entre analyse scientifique et données de terrain permettent d’étoffer de part et d’autre, et conjointement, la représentation et la compréhension du territoire.</p>
    </div>
    <div class="credits">
      Cet outil est développé par <a href="http://atelier-cartographique.be">Atelier Cartographique</a>, une cellule de recherche bruxelloise rassemblant des spécialistes de la visualisation de données digitales et imprimées.
    </div>
  </div>
</body>
</html>