<html>
<head>
	<title>metrolab - login</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="styles/login.css" />

</head>
<body>
<div class="bkg-img">
 <div class="container logo">
    <img src="/styles/imgs/logo-white.png">
  </div>
 

  <div class="container login">
    <form class="form-horizontal" role="form" action="/login" method="post">
    <div class="list-group">
      <input name="username" type="email" class="list-group-item" id="inputEmail3" placeholder="Email">
      <input name="password" type="password" class="list-group-item" id="inputPassword3" placeholder="Password">
      <input type="submit" class="list-group-item btn-login" value="Sign in">
    </div>
    </form>
</div>


  <div class="container text">
    <div class="welcome">Bienvenue sur la plateforme de cartographie collaborative de Metrolab BrabantSZenne.</div>
    <div class="description">
      <p>Cette application s’inscrit dans une recherche visant à dépasser le problème posé par l’hybridation des systèmes d’informations territoriales générés par les différents niveaux d’opérateurs.</p> 
      <p>L’outil est développé autour de l’idée qu’on peut, par des méthodes de design collaboratif, tenter de faire de l’hybridation des systèmes d’informations territoriales une ressource plutôt qu’un obstacle aux initiatives de projet.
      </p>
      <p>Concrètement, l’application permet d’avoir accès, d’importer et de visionner des informations territoriales, et de générer de nouvelles informations géoréférencées à partir des connaissances détenues par des participants extérieurs, créant par là des possibilités de générer de nouvelles cartes d’analyse ou de projet.</p>
      <p>La flexibilité de l’outil permet d’établir des liens entre des données analytiques, et celles, plus qualitatives, des acteurs locaux.</p>
    </div>
  </div>
  <div class="credits">
    Cet outil est développé par <a href="http://atelier-cartographique.be">Atelier Cartographique</a>, une cellule de recherche bruxelloise rassemblant des spécialistes de la visualisation de données digitales et imprimées.
  </div>
</div>
</body>
</html>