

.app{
	width:100%;
	height:100%;
	background-color:red;
}


.viewport{
	width:100%;
	height:100%;
}


.map{
	width:100%;
	height:100%;
}

.interaction{
	cursor:pointer;
	color:gray;
}
.interaction:hover{
	color:black;
}

.layers{
	position:absolute;
	top:32px;
	right:32px;
	width:220px;
	height:220px;
	border: 1px solid gray;
	padding: 12px;
	background-color: white;
}

.groups{
	position:absolute;
	top:284px;
	right:32px;
	width:220px;
	height:220px;
	border: 1px solid gray;
	padding: 12px;
	background-color: white;
}

.creator{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	padding:64px;
	z-index:100;
}

.wmseditor{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	padding:64px;
	z-index:100;
}

.layer{

}

.layer.active{
	font-weight: bold;
}