@import "typo.less";

@brown : #996600;


.BrowserList {
	width: @widget;
	background-color: #fff;
	border-radius: 4px;
	padding: @padding;
	position: absolute;
	right: 5px;
	top: 5px;

	.BrowserItem {
		
		.LayerName {
			width: 220px;
			float: left;
			margin-top: 5px;
		}
		.LayerDesc {
			font-style: italic;
			display: block;
			float: none;
			clear: both;

			&::first-letter {
			text-transform: uppercase;
			}
		}
		.OnMapView {
			display: block;
			float: none;
			clear: both;
			.label,
			.MapName {
				color: #000;
				font-size: 7pt;
				letter-spacing: 0.5px;
			}
		}

	}

}

