@import "typo.less";

@brown : #996600;


.BrowserList {
	.Widget;

	.BrowserItem {
		min-height: 17px;

		.LayerName {
			width: 220px;
			float: left;
			.font-small;
		}

		.glyphs {
			width: 40px;
		}

		.LayerDesc {
			.font-small;
			font-style: italic;
			display: block;
			float: none;
			clear: both;

			&::first-letter {
			text-transform: uppercase;
			}
		}
		.OnMapView {
			display: block;
			float: none;
			clear: both;
			.label,
			.MapName {
				color: #000;
				.font-small;
			}
		}

	}
	.list-group {
		.Stylelist-group;
	}

}

