@import "typo.less";

@brown : #996600;
@hover-item : #eee;
@dark-grey: #444;


body {
	font-family: 'roboto_slabregular', serif;
	letter-spacing: 110%;
	font-size: @font-normal;
}

#mapWidget {
	position: absolute;
	top: 10px;
	right: 10px;
	width: @widget;
	height: auto;
	/* border: 1px solid gray; */
	padding: @margin;
	background-color: white; 
	border-radius: 4px;

	.nav-tabs {
	border-bottom: 0px solid #3D1C1C;
		li {
		background-color: #EEE;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		
			&::first-letter {
			text-transform: uppercase;
			}
		}
	}

	.list-group {
		font-size: 9pt;

		.list-group-item {
		position: relative;
		display: block;
		padding: 2px 5px;
		margin-bottom: -1px;
		background-color: #fff;
		border: 1px solid #ccc;
		width: 100%;
		color: @dark-grey;

			&:hover {
				background-color: @hover-item;
			}

			&:first-child {
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
			}

			&:last-child {
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
			}

			&.active {
			background-color: #EEE;

				.layer-name{
				// border-bottom: 1px solid @dark-grey;
				font-family: 'roboto_slabbold';
				}
			}
		}
	}
}

.nav-pills li a {
	padding: 4px 20px;
	margin-bottom: 5px;
}

.btn-new-layer,
.btn-new-wms {
	width: calc(50% - 5px) ;
	background-color: #fff;
	border: 1px solid #ccc;
	float: left;

	&:hover{
		background-color: @hover-item;
	}
}
.btn-new-layer {margin-right: 2 * @margin }

.logo-main {
	position: absolute;
	z-index: 100;
	left: 10px;
	bottom: 10px;
}