

@brown : #996600;
@hover-item : #eee;
@dark-grey: #444;


body {
	font-family: 'roboto_slabregular', serif;
	letter-spacing: 110%;
	font-size: @font-normal;
}

.notifications {
}


#mapWidget {
	.Widget;

	.list-group {
		.Stylelist-group;
	}

	h4 {
		cursor: pointer;
	}
}

.nav-pills li a {
	padding: @padding-navpills;
	margin-bottom: 5px;
	font-size: @font-normal;
}

.btn-new-layer,
.btn-new-wms {
	// width: calc(50% - 5px) ;
	background-color: #fff;
	border: 1px solid #ccc;
	// float: left;

	&:hover{
		background-color: @hover-item;
	}
}
.btn-new-layer {
	// margin-right: 2 * @margin;
}

.logo-main {
	position: absolute;
	z-index: 100;
	left: 10px;
	bottom: 10px;
}